@import url('https://fonts.googleapis.com/css2?family=Borel&family=Libre+Baskerville:wght@700&family=Poppins&family=Roboto:wght@300&family=Rye&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Headland+One&family=Kaushan+Script&family=Libre+Baskerville:wght@700&family=Poppins&family=Roboto:wght@300&family=Rye&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';
}

section {
    background-image: linear-gradient(black,black);
    min-height: 100vh;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: auto;
}

nav {
    height: 80px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.683) 30%, rgb(0, 0, 0));
}

nav h1 {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
    line-height: 80px;
    font-size: 46px;
    font-size: inline;
    color: aliceblue;
    text-shadow: 1px 2px #fff;
    font-family: 'Borel', 'cursive';
}

nav ul {
    float: left;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    background-color: #43a2d6;
    transition: 0.5s ease;
}

nav ul li .active {
    background-color: #2500c7;
}

.article {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}

.article h1 {
    font-size: 40px;
    color: azure;
    letter-spacing: 1.5px;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 25px;

}

.article h2 {
    font-size: 25px;
    color: #6af5ff;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #e61f00, 0 0 20px #cc1b1b, 0 0 42px #e7ff12, 0 0 82px rgb(168, 141, 228), 0 0 92px rgb(255, 228, 22);
}

.article a {
    color: #fff;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: cornsilk;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.fa-youtube {
    background: #e40909;
    color: #fff;
}

.fa-instagram {
    background: #c41c6d;
    color: #fff;
}
.contact {
    background-image: linear-gradient(45deg, rgb(255, 255, 255) 30%, rgb(0, 0, 0));
    height: 100vh;
    display: flex;
    
}

.contact .sec-contact {
    font-weight: 800;
    height: 50%;
    width: 50%;
    font-size: 150%;
    justify-content: center;
    text-align: center;
    padding-top: 10%;

}

.contactbox h2 {
    font-weight: 600;
    color: rgb(12, 255, 255);
    padding-right: 10%;
    font-family: 'Headland One', serif;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}
form {
    height: 50%;
    width: 100%;
    padding-top: 2%;  
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}
input,textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.photography {
    background-image: linear-gradient(45deg, rgb(255, 255, 255) 30%, rgb(25, 1, 30));
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.se {
    background-image: linear-gradient(45deg, rgb(128, 133, 134) 30%, rgb(0, 0, 0));
    height: 220px;
}

.se h1 {

    font-weight: 500;
    font-size: 6vh;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;

}

.se p {
    padding: 10px;
    font-weight: 800;
    font-size: 50px;
    color: #0af9ed;
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.701) 30%, rgb(0, 0, 0));
    margin: auto;
    background-position: 58%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
}

.column {
    flex: 50%;
    padding: 0 40px;
    margin-bottom: 20px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 20px;
}

** {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ede7f6;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .container .sec {
    margin-right: 30px;

}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li {
    left-style: none;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;

}

#about .about-content{
    display: flex;
    color: white;

}

#about h1, #about p{
    margin: 20px;
    
}

#about .div1{
    width: 50%;
    height: auto;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.68) 30%, rgb(0, 0, 0));

    padding: 10px;

}

#about .div2{
    width: 50%;
    height: 400px;
    background-image: url('./images/lobby.jpeg');
    background-size: cover;
}

@media screen and (max-width:700px) {


    section {
        background-image: linear-gradient(#eb9191, #000000);
    }

    nav {
        height: 150px;
        background-image: linear-gradient(45deg, rgb(0, 0, 1) 30%, rgb(158, 96, 165));
    }

    nav h1 {
        font-size: 20px;
        text-align: right;
        padding-right: 80px;
        padding-top: 0px;
    }

    nav ul {
        float: left;
        line-height: 30px;
    }

    .article {
        width: 50%;
        height: 20%;
        text-align: center;
        justify-content: center;
    }

    .article h1 {
        font-size: 20px;
        letter-spacing: 1.1px;
        font-weight: 600;


    }

    .article h2 {
        font-size: 15px;
        color: #cdc2ba;
        letter-spacing: 0.2px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .fa {
        padding: 5px;
        font-size: 10px;
        width: 40px;
        border-radius: 40%;
    }
    #about .about-content{
        display: block;
    }

    #about .div1{
        width: 100%;
    }

    #about .div2{
        width: 100%;
    }
    .se {
        background-image: linear-gradient(45deg, rgb(128, 133, 134) 30%, rgb(0, 0, 0));
        height: 220px;
    }
    
    .se h1 {
    
        font-weight: 500;
        font-size: 20px;
        color: #e40909;
    }
    
    .se p {
        padding: 10px;
        font-weight: 500;
        font-size: 25px;
        color: azure;
    }
    .column {
        padding: 0 0px;
        width: 100%;
        height: auto;
    }
    .column img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .contact .sec-contact {
        font-weight: 600;
        height: 50%;
        width: 50%;
        font-size: 10px;
        justify-content: center;
        text-align: center;
        padding-top: 50%;
    
    } 
    .contactbox{
        background-image: linear-gradient(black,#fff );
    }
    .contactbox h2 {
        font-weight: 600;
        color: rgb(12, 255, 255);
        padding-right: 10%;
        font-family: 'Headland One', serif;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
    form {
        height: 30%;
        width: 95%;
        padding-top: 3%;  
    }
    .input-group {
        margin-bottom: 30px;
        position: relative;
    }
    input,textarea {
        width: 80%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        color: #fff;
        background: transparent;
        font-size: 20px;
    }
    
    label {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        color: #fff;
        cursor: text;
        transition: 0.2s;
    }
    
    button {
        padding: 10px 0;
        color: #fff;
        outline: none;
        background: transparent;
        border: 1px solid #fff;
        width: 100%;
        cursor: pointer;
    }
    
    input:focus~label,
    input:valid~label,
    textarea:focus~label,
    textarea:valid~label {
        top: -35px;
        font-size: 10px;
    }
    
footer .container h2 {
   width: 100%;
    display: flex;
}

footer .container h2:before {
    width: 50px;
    height: 2px;
    background: #f00;
}
footer {
   
    width: 100%;
    height: 50%;
   
   


}